/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

#root,
#__next {
  isolation: isolate;
}

:root {
  --board-color: rgba(82, 82, 82, 0.562);
  --board-size: 500px;
  --border-size: 2px;
  --cell-size: calc(var(--board-size) / 10);
  --setup-board-width: (var(--board-size) / 2);
}

#page {
  display: grid;
  grid-template-rows: 100px 1fr 100px;
  min-height: 100vh;
  max-width: 1920px;
  margin: 0 auto;
}

main {
  display: grid;
  grid-template-rows: 1fr, 100px;
  justify-items: center;
}

#content {
  display: flex;
  gap: 4em;
}

/* MENU */

.menu {
  display: flex;
  flex-direction: column;
  gap: 3em;
}

.single-player,
.pvp {
  padding: 1em 2em;
  font-size: 2rem;
}

/* SETUP */

.info {
  align-content: center;
}

.info h2 {
  font-size: 2rem;
  padding-bottom: 1em;
}

ul {
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 0;
  font-size: 1rem;
}

.setup > .cell {
  cursor: default;
}

.setup > .ship {
  cursor: grab;
}

.player1 > .ship.dragging,
.player2 > .ship.dragging {
  background-color: blueviolet;
}

.ghost,
.cell.ship.ghost {
  background-color: rgb(144, 238, 144);
}

/* BUTTON MENU */

.options {
  display: flex;
  gap: 1.5em;
}

.options > button {
  font-size: 1.25rem;
}

/* GAMEBOARD */

.board-container {
  display: grid;
  grid-template-columns: 50px 500px;
  grid-template-rows: 80px 50px 500px;
}

.player1-tag,
.player2-tag{
  display: grid;
  justify-content: center;
  grid-row: 1/2;
  grid-column: 1/3;
}

.player1-tag h1,
.player2-tag h1 {
  font-size: 1.5rem;
  padding: 8px 16px;
  border: 2px solid black;
  align-content: center;
}

.x-coords {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-row: 2/3;
  grid-column: 2/3;
}

.x-cell,
.y-cell {
  align-content: center;
  text-align: center;
}

.y-coords {
  display: grid;
  grid-template-rows: repeat(10, 1fr);
  grid-row: 3/4;
  grid-column: 1/2;
}

.board-grid {
  grid-column: 2/3;
  grid-row: 3/4;
  display: grid;
  grid-template-rows: repeat(10, 1fr);
  grid-template-columns: repeat(10, 1fr);
  border: 2px solid var(--board-color);
  width: var(--board-size);
  height: var(--board-size);
}

.cell {
  cursor: crosshair;
  border: 2px solid var(--board-color);
}

/* .player1 > .ship */
.ship {
  background-color: aquamarine;
}

.player1 > .hit,
.player2 > .hit {
  background-color: red;
}

.miss {
  background-color: rgb(223, 223, 16);
}
