/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

#root,
#__next {
  isolation: isolate;
}

:root {
  --system-ui:
    system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  --board-size: 500px;
  --border-size: 2px;
  --border-radius: 30px;
  --cell-size: calc(var(--board-size) / 10);
  --setup-board-width: (var(--board-size) / 2);
  --current-player-color: red;
  --background-color: #192a51;
  --board-color: #233d4d;
  --hit-color: #ff595e;
  --miss-color: #fbfbf2;
  --ship-color: #19191a;
  --active-color: #3498db;
  --box-shadow: 0 0 10px rgba(52, 152, 219, 0.6);
}

body {
  font-family: var(--system-ui);
  background-color: var(--background-color);
}

#page {
  display: grid;
  grid-template-rows: 100px 1fr 100px;
  min-height: 100vh;
  max-width: 1920px;
  margin: 0 auto;
}

main {
  display: grid;
  grid-template-rows: 1fr, 100px;
  justify-items: center;
}

#content {
  display: flex;
  gap: 4em;
}

button {
  cursor: pointer;
  border-radius: 30px;
}

/* MENU */

.menu {
  display: flex;
  flex-direction: column;
  gap: 3em;
}

button {
  color: var(--active-color);
  font-weight: 900;
  background-color: var(--background-color);
  border-color: var(--active-color);
  box-shadow: var(--box-shadow);
}

button:hover {
  background-color: #1f3464;
}

.single-player,
.pvp {
  padding: 1em 2em;
  font-size: 2rem;
}

/* SETUP */

.info {
  color: var(--miss-color);
  align-content: center;
}

.info h2 {
  font-size: 2rem;
  padding-bottom: 1em;
}

ul {
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 0;
  font-size: 1rem;
}

.setup > .cell {
  cursor: default;
}

.setup > .ship {
  background-color: var(--ship-color);
  cursor: grab;
}

.player1 > .ship.dragging,
.player2 > .ship.dragging {
  background-color: #e2e8ddb9;
}

.ghost,
.cell.ship.ghost {
  background-color: #b7d1da7c;
}

/* BUTTON MENU */

.options {
  display: flex;
  gap: 1.5em;
}

.options > button,
.back-btn {
  font-size: 1.25rem;
  padding: 6px 12px;
}

/* GAMEBOARD */

.player1-tag.active h1,
.player2-tag.active h1 {
  border: 2px solid var(--current-player-color);
  border-radius: var(--border-radius);
}

.board-grid.player1.active,
.board-grid.player2.active {
  border: 2px solid var(--current-player-color);
}

.board-container {
  color: var(--miss-color);
  display: grid;
  grid-template-columns: 50px 500px;
  grid-template-rows: 80px 50px 500px;
}

.player1-tag,
.player2-tag {
  display: grid;
  justify-content: center;
  grid-row: 1/2;
  grid-column: 1/3;
}

.player1-tag h1,
.player2-tag h1 {
  font-size: 1.5rem;
  padding: 8px 16px;
  align-content: center;
}

.x-coords {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-row: 2/3;
  grid-column: 2/3;
}

.x-cell,
.y-cell {
  align-content: center;
  text-align: center;
}

.y-coords {
  display: grid;
  grid-template-rows: repeat(10, 1fr);
  grid-row: 3/4;
  grid-column: 1/2;
}

.board-grid {
  grid-column: 2/3;
  grid-row: 3/4;
  display: grid;
  grid-template-rows: repeat(10, 1fr);
  grid-template-columns: repeat(10, 1fr);
  border: 2px solid var(--board-color);
  width: var(--board-size);
  height: var(--board-size);
}

.cell {
  cursor: crosshair;
  border: 2px solid var(--board-color);
}

/* .ship */
.show-ships > .ship {
  background-color: var(--ship-color);
}

.player1 > .cell.ship.hit,
.player2 > .cell.ship.hit {
  background-color: var(--hit-color);
}

.miss {
  background-color: var(--miss-color);
}

/* ANIMATIONS */

/* BOARD ACTIONS */
.cell.miss,
.cell.hit,
.setup > .ship,
.cell.ship.hit .cell.ship {
  animation: pop-in 150ms ease-out forwards;
}

@keyframes pop-in {
  0% {
    transform: scale(0.2);
    opacity: 0;
  }
  80% {
    transform: scale(1.1);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}

h1,
.board-grid {
  transition:
    border-color 0.4s ease,
    box-shadow 0.4s ease,
    border-radius 0.4 ease;
}

/* SWITCHING ACTIVE PLAYER */

.board-grid.active,
.active > h1 {
  border-color: var(--active-color) !important;
  box-shadow: 0 0 10px rgba(52, 152, 219, 0.6);
}

/* LOADING DOM */

.fade-in {
  opacity: 0;
  animation: fadeIn 500ms ease forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

