/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

#root,
#__next {
  isolation: isolate;
}

:root {
  --board-color: rgba(82, 82, 82, 0.562);
}

#page {
  display: grid;
  grid-template-rows: 100px 1fr 100px;
  min-height: 100vh;
  max-width: 1920px;
  margin: 0 auto;
}

main {
  justify-items: center;
}

#content {
  display: flex;
  gap: 4em;
}

.board-container {
  display: grid;
  grid-template-columns: 50px 500px;
  grid-template-rows: 50px 500px;
}

.x-coords {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-row: 1/2;
  grid-column: 2/3;
}

.x-cell,
.y-cell {
  align-content: center;
  text-align: center;
}

.y-coords {
  display: grid;
  grid-template-rows: repeat(10, 1fr);
  grid-row: 2/3;
  grid-column: 1/2;
}

.board-grid {
  grid-column: 2/3;
  grid-row: 2/3;
  display: grid;
  grid-template-rows: repeat(10, 1fr);
  grid-template-columns: repeat(10, 1fr);
  border: 2px solid var(--board-color);
  width: 500px;
  height: 500px;
}

.cell {
  border: 2px solid var(--board-color);
}

.ship {
  background-color: aquamarine;
}

.hit {
  background-color: red;
}

.miss {
  background-color: rgb(223, 223, 16);
}
