@font-face {
  font-family: "Ethnocentric";
  src:
    url("./assets/fonts/Ethnocentric-Regular.woff2") format("woff2"),
    url("./assets/fonts/Ethnocentric-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Kimberley";
  src:
    url("./assets/fonts/Kimberley-Black.woff2") format("woff2"),
    url("./assets/fonts/Kimberley-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

#root,
#__next {
  isolation: isolate;
}

:root {
  --system-ui:
    system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  --board-size: 31.25em;
  --border-size: 2px;
  --border-radius: 30px;
  --cell-size: calc(var(--board-size) / 10);
  --background-color: #192a51;
  --board-color: #233d4d;
  --hit-color: #ff595e;
  --miss-color: #fbfbf2;
  --ship-color: #19191a;
  --active-color: #3498db;
  --box-shadow: 0 0 10px rgba(52, 152, 219, 0.6);
  --hover-color: #54b2f1;
}

body {
  font-family: "Kimberley", var(--system-ui);
  background-color: var(--background-color);
}

#page {
  display: grid;
  gap: 1em;
  grid-template-rows: 100px 1fr 50px;
  max-width: 1920px;
  margin: 0 auto;
}

main {
  display: grid;
  grid-template-rows: 1fr, 100px;
  justify-items: center;
}

#content {
  display: flex;
  gap: 4em;
}

#button-menu {
  margin-top: 3em;
}

header {
  justify-items: center;
}

header h1 {
  font-family: "Ethnocentric", var(--system-ui);
  padding: 0.5em;
  font-size: 3rem;
  color: var(--active-color);
  text-shadow: 8px 8px var(--ship-color);
}

/* MENU */

.menu {
  margin-top: 3em;
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.menu img {
  width: 25em;
  margin-bottom: 3em;
}

button {
  cursor: pointer;
  border-radius: var(--border-radius);
  color: var(--active-color);
  font-weight: 900;
  background-color: var(--background-color);
  border-color: var(--active-color);
  box-shadow: var(--box-shadow);
  transition: transform 0.3s ease-in-out;
}

button:hover {
  color: var(--hover-color);
  box-shadow: 0 0 10px rgba(75, 157, 211, 0.6);
  transform: scale(1.2);
}

.single-player,
.pvp {
  padding: 0.5em 1em;
  font-size: 2rem;
}

/* PVP NAME */

.pvp-setup {
  margin-top: 2em;
  color: var(--miss-color);
  width: var(--board-size);
}

.pvp-setup > h1 {
  font-size: 2.5rem;
  margin-bottom: 1.5em;
}

.pvp-setup > p {
  margin-bottom: 2em;
}

.pvp-setup > button {
  font-size: 1.25rem;
  padding: 6px 12px;
  margin-bottom: 4em;
}

.pvp-name {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 1.5em;
}

.pvp-name label {
  font-size: 1.5rem;
}

.pvp-name input {
  padding-left: 10px;
  width: 25em;
  background-color: var(--background-color);
  color: var(--miss-color);
  border-radius: 10px;
  border: 4px solid var(--active-color);
  outline: none;
  font-size: 2rem;
}

.pvp-name input:focus {
  border-color: var(--hover-color);
}

.pvp-setup > p {
  font-size: 1.25rem;
  font-weight: 900;
}

/* SETUP */

.info {
  color: var(--miss-color);
  align-content: center;
  width: var(--board-size);
}

.info h2 {
  font-size: 2rem;
  padding-bottom: 1em;
}

ul {
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 0;
  font-size: 1.25rem;
}

.setup > .cell {
  cursor: default;
}

.setup > .ship {
  background-color: var(--ship-color);
  cursor: grab;
}

.player1 > .ship.dragging,
.player2 > .ship.dragging {
  background-color: #e2e8ddb9;
}

.ghost,
.cell.ship.ghost {
  background-color: #b7d1da7c;
}

/* BUTTON MENU */

.options {
  display: flex;
  gap: 1.5em;
}

.options > button,
.back-btn,
.close-btn {
  font-size: 1.25rem;
  padding: 6px 12px;
}

/* GAMEBOARD */

.player1-tag.active h1,
.player2-tag.active h1 {
  border: 2px solid var(--active-color);
  border-radius: var(--border-radius);
}

.board-grid.player1.active,
.board-grid.player2.active {
  border: 2px solid var(--active-color);
}

.board-container {
  align-content: center;
  color: var(--miss-color);
  display: grid;
  grid-template-columns: var(--cell-size) var(--board-size);
  grid-template-rows: 5em var(--cell-size) var(--board-size);
}

.player1-tag,
.player2-tag {
  display: grid;
  justify-content: center;
  grid-row: 1/2;
  grid-column: 1/3;
}

.player1-tag h1,
.player2-tag h1 {
  font-size: 1.5rem;
  padding: 8px 16px;
  align-content: center;
}

.x-coords {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-row: 2/3;
  grid-column: 2/3;
}

.x-cell,
.y-cell {
  align-content: center;
  text-align: center;
}

.y-coords {
  display: grid;
  grid-template-rows: repeat(10, 1fr);
  grid-row: 3/4;
  grid-column: 1/2;
}

.board-grid {
  grid-column: 2/3;
  grid-row: 3/4;
  display: grid;
  grid-template-rows: repeat(10, 1fr);
  grid-template-columns: repeat(10, 1fr);
  border: 2px solid var(--board-color);
  width: var(--board-size);
  height: var(--board-size);
}

.cell {
  cursor: crosshair;
  border: 2px solid var(--board-color);
}

.show-ships > .ship {
  background-color: var(--ship-color);
}

.player1 > .cell.ship.hit,
.player2 > .cell.ship.hit {
  background-color: var(--hit-color);
}

.miss {
  background-color: var(--miss-color);
}

/* MODAL */

dialog {
  margin: 0 auto;
  top: 12em;
  font-size: 2rem;
  background-color: var(--background-color);
  border: 2px solid var(--active-color);
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius);
  padding: 1em;
}

.winner-text {
  color: var(--miss-color);
  margin-bottom: 0.5em;
}

/* ANIMATIONS */

/* BOARD ACTIONS */
.cell.miss,
.cell.hit,
.setup > .ship,
.cell.ship.hit .cell.ship {
  animation: pop-in 150ms ease-out forwards;
}

@keyframes pop-in {
  0% {
    transform: scale(0.2);
    opacity: 0;
  }
  80% {
    transform: scale(1.1);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}

h1,
.board-grid {
  transition:
    border-color 0.4s ease,
    box-shadow 0.4s ease,
    border-radius 0.4 ease;
}

/* SWITCHING ACTIVE PLAYER */

.board-grid.active,
.active > h1 {
  border-color: var(--active-color) !important;
  box-shadow: var(--box-shadow);
}

/* LOADING DOM */

.fade-in {
  opacity: 0;
  animation: fadeIn 500ms ease forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}
